.debut 
    text-align : center 
.nav
    display : flex
    justify-content : space-between
    margin-left : 30px
    margin-right : 30px
    .gris
        color : #9ca0a6
    button
        background-color : white
        border : white
    #white
        background-color :  grey
        height : 20px
        margin-left : 5px
        margin-right : 5px
        width : 20px
        border-radius : 25%
        
    #black
        background-color :  #343a40
        height : 20px
        width : 20px
        border-radius : 25%
    #clair
        background-color : #6c757d  
        height :35px  
.deux
    background-color : #f3f3f3
    height : 400px   
.rouge
    color : #dd4545   
    font-size : 30px
.empo
    font-size : 50px
.texte1
    color : #88939e   