.debut {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.nav .gris {
  color: #9ca0a6;
}
.nav button {
  background-color: white;
  border: white;
}
.nav #white {
  background-color: grey;
  height: 20px;
  margin-left: 5px;
  margin-right: 12px;
  width: 20px;
  border-radius: 25%;
}
.nav #black {
  background-color: #343a40;
  height: 20px;
  width: 20px;
  border-radius: 25%;
}
.nav #clair {
  background-color: #6c757d;
  height: 35px;
}

.deux {
  background-color: #f3f3f3;
  height: 400px;
  display: flex;
  justify-content: center;
}
.deux .centre {
  margin: auto;
}
.deux .rouge {
  color: #dd4545;
  font-size: 30px;
  margin: 10px;
}
.deux .empo {
  font-size: 50px;
  font-weight: bolder;
  margin: 10px;
}
.deux .texte1 {
  color: #88939e;
}
.deux #boutsale {
  background-color: #dd4545;
  height: 40px;
  border-radius: 40%;
  color: white;
  border: #dd4545;
  width: 150px;
  margin-top: 20px;
}

.containers .img1 {
  background-image: url("/public/img/services/service-1.jpg");
  background-size: cover;
  height: 200px;
  width: 30%;
  position: relative;
}
.containers .img2 {
  background-image: url("/public/img/services/service-2.jpg");
  background-size: cover;
  height: 200px;
  width: 30%;
  position: relative;
}
.containers .img3 {
  background-image: url("/public/img/services/slider-3.jpg");
  background-size: cover;
  height: 200px;
  width: 30%;
  position: relative;
}
.containers .centre {
  color: white;
  font-size: 25px;
  text-align: center;
  border-bottom: 3px solid white;
  width: 70%;
  transition: 2s;
}
.containers .centre1 {
  color: white;
  font-size: 25px;
  text-align: center;
  border-bottom: 3px solid white;
  width: 70%;
  transition: 2s;
}
.containers .centre2 {
  color: white;
  font-size: 25px;
  text-align: center;
  border-bottom: 3px solid white;
  width: 70%;
  transition: 2s;
}
.containers .transitioncentre {
  color: white;
  font-size: 25px;
  text-align: center;
  border-bottom: 3px solid white;
  width: 30%;
  transition: 2s;
}
.containers .transitioncentre2 {
  color: white;
  font-size: 25px;
  text-align: center;
  border-bottom: 3px solid white;
  width: 30%;
  transition: 2s;
}

.rouge {
  color: red;
  font-weight: bold;
}

.image_fond {
  background-image: url("/public/img/cta-bg.jpg");
  background-size: cover;
  height: 650px;
  position: relative;
}
.image_fond .texte_centre {
  color: white;
  text-align: center;
  font-size: 35px;
}

.blanc {
  color: white;
}

h6 {
  color: white;
}

.fou1 p {
  color: grey;
  border: solid 2px grey;
  border-radius: 10%;
}

.fin {
  height: 30px;
  background-color: black;
}

#formulaire1 {
  height: 500px;
  width: 600px;
  background-color: white;
  position: relative;
  margin-top: 15%;
  margin-left: 25%;
  text-align: center;
  padding-top: 50px;
}
#formulaire1 #titreco {
  margin-bottom: 30px;
}
#formulaire1 #input1 {
  margin-bottom: 30px;
}
#formulaire1 #input2 {
  margin-bottom: 40px;
}
#formulaire1 #connexion {
  background-color: #adcada;
  height: 45px;
  border-color: white;
  color: white;
}
#formulaire1 #containerbutton {
  margin-top: 30px;
}

#fermeture1 {
  display: none;
}

#input3 {
  margin-bottom: 30px;
}

body {
  position: absolute;
}
body #nouveauformulaire {
  height: 500px;
  width: 600px;
  background-color: black;
  z-index: 3;
  margin-top: 15%;
  margin-left: 25%;
  text-align: center;
  padding-top: 50px;
}
body #input1-1 {
  margin-bottom: Opx;
}

#fin {
  display: none;
}

#connexion2 {
  display: none;
}

#finphrase {
  display: none;
}

#fininscription {
  display: none;
}

#nouveauinscrire {
  background-color: #adcada;
}

#fermeture2 {
  display: none;
}
#fermeture2 
.taille {
  transition: 800ms;
}
.taille:hover{
transform: scale(1.2);
}

@media screen and (min-width :373px) and (max-width: 766px ){
  .containers .img1{
    width: 300px;
  }
  .containers .img2{
    width: 300px;
  }
  .containers .img3{
    width: 300px;
  }
  .taille{
    width: 300px;
  }

}

@media screen and (min-width :767px) and (max-width: 1023px ){
  .containers .img1{
    width: 70%;
  }
  .containers .img2{
    width: 70%;
  }
  .containers .img3{
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
